/* ===== BASE ===== */
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #000;
}

/* ===== TÍTULOS ===== */
h3 {
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    margin-top: 25px;
}

/* ===== TABELAS ===== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th, td {
    border: 1px solid #000;
    padding: 6px;
}

th {
    background: #eaeaea;
    text-align: center;
}

td.text-end {
    text-align: right;
}

td.text-center {
    text-align: center;
}

/* ===== RODAPÉ DE TABELA ===== */
tfoot th {
    background: #f0f0f0;
    text-align: right;
    font-weight: bold
}

/* ===== PDF ===== */
@page {
    size: A4;
    margin: 1.5cm;
}

.month-block {
    page-break-inside: avoid;
}

/* ===== HEADER FIXO ===== */
.header-right {
    top: 1.5cm;
    right: 1.5cm;
    font-size: 11px;
    text-align: right;
}
