{% extends 'base.html' %}

{% block content %}

    <div class="container mt-4">
        <h3 class="display-6">Deletar Parcela</h3>

        <div class="card">
            <div class="card-body">
                <p class="card-text">Tem certeza que deseja deletar a parcela <strong>{{ installments.number }}</strong> da venda <strong>{{ installments.sale.title }}</strong> ?</p>
                <p class="card-text text-warning">Ao excluir esta parcela, a fidedignidade dos registros desta venda ficarão comprometidos!</p>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>

                <a href="{% url 'installments_by_sale' sale.id %}" class="btn btn-secondary mt-3">Cancelar</a>
            </div>
        </div>
    </div>

{% endblock %}