{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Cadastrar Alocações de Pagamentos</h3>

    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
    {% if payment %}
        <a href="{% url 'payments_allocations_by_payment' payment.id %}" class="btn btn-secondary mt-3">Cancelar</a>
    {% elif installment %}
        <a href="{% url 'payments_allocations_by_installment' installment.id %}" class="btn btn-secondary mt-3">Cancelar</a>
    {% endif %}
</div>

{% endblock %}